img {
    width: 350px;
    height: 500px;
    object-fit: cover;
    border: 6px solid #fee715;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

p, li {
    font-family: sans-serif;
    color: white;
}

body {
    background-color: #101820;
}

div {
    background-color: #fee715a1;
    border: 6px solid #fee715;
}